{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sunt, illo inventore deleniti illum ipsa ab hic laborum. Magni fugiat adipisci quia doloribus ullam aut libero harum quis dolores, officiis rerum non, quibusdam minima atque nam est nesciunt asperiores. Minus ad deleniti officiis ipsam consequatur magnam minima voluptatum praesentium dolore? Dolores omnis consequuntur tempora quas eveniet aut accusamus blanditiis molestias numquam! Et impedit expedita iste perspiciatis aliquid consectetur harum. Distinctio expedita velit officia veritatis nostrum libero modi at corporis praesentium fugit odio nisi odit asperiores, dolores, tenetur numquam culpa ab ratione. Iure veritatis adipisci odio recusandae, voluptatum aperiam quibusdam provident?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock content %}